.Header {
  display: flex;
  margin: 40px 0;
}

.Header-info {
  flex: 1;
}

.Header-title {
  display: flex;
  width: 80%;
  margin-top: 22px;

  font-weight: $font-bold;
  color: $color-header-title;
  line-height: 23.68px;
  font-size: $font-size-title;
  text-transform: uppercase;
}

.Header-subtitle {
  font-weight: $font-light;
  color: $color-header-subtitle;
  text-transform: lowercase;
}

.Header-picture {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
