$font-serif: "Arvo", serif;
$font-sans-serif: "Open Sans", sans-serif;
$font-bold: 700;
$font-light: 300;
$font-size-large: 38px;
$font-size-text: 18px;
$font-size-title: 16px;
$font-size-small: 14px;

$color-header-title: #565656;
$color-header-subtitle: #888;
$color-title: #404040;
$color-text: $color-header-title;
$color-light: #ddd;
$color-link-hover: rgba(0, 121, 152, 0.5);
