@import "reset";
@import "variables";
@import "markdown";
@import "components/header";
@import "components/container";
@import "components/article";
@import "components/link";
@import "components/nav";

body {
  font-family: $font-sans-serif;
  line-height: 30px;
  font-size: $font-size-text;
}
